a {
    color: black;
}

a:hover {
    color: grey;
}

body {
    background-color: white;
    padding: 0px;
    margin: 0;
}

ul {
    position: -webkit-sticky; /*safari fucking apple*/
    background-color: white;
    list-style-type: none;
    position: sticky;
    width: 13vw;
    padding: 0px;
    margin: 0;
    top: 0;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.95vw;
}

li a:hover {
    color: #FFF;
    background-color: grey;
}

.active {
    background-color: rgb(16, 113, 178);
    color: white;
}



h1 {
    margin:0;
    padding:0;
    font-size: 2vw;
    letter-spacing: 2px;
}

h2 {
    margin:0;
    padding:0;
    font-size: 1vw;
    letter-spacing: 1px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9vw;
}

footer p{
    color: grey;
    text-align: center;
    padding: 0.5vw;
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 3px;
}

img {
    resize: 8vw;
    -ms-interpolation-mode: bicubic;
}

#testo {
    margin-left: 13.5vw;
    margin-right: 13.5vw;
    margin-top: 2vw;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#foto {
    margin-left: 13.5vw;
    margin-right: 13.5vw;
    max-width: 1256px;
}

#codice {
    font-family: monospace;
    font-size: 1vw;
    text-align: justify;
    color: black;
}

#capsulacodice {
    display: block;
    background-color: lightgrey;
    border: crimson 1px;    
}
